.projects_reports_sorting {
  position: absolute;
  float: left;
  right: 0;
  top: 0;
  width: 52px;
  height: 58px;
  cursor: pointer;
  background-image: url('/images/sorting-desk.png');
  background-repeat: no-repeat;
  background-position: 22px 15px;
}

.projects_reports_sorting.disable {
  background-image: url('/images/sorting-desk-disable.png');
}

.projects_reports_sorting.asc {
  background-image: url('/images/sorting.png');
}

.projects_reports_sorting.asc.disable {
  background-image: url('/images/sorting-disable.png');
}
